<!DOCTYPE html>
<html>
  <head>
    <script src="../static/index.js"></script>

    <!-- CDN for Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <h1>Add User</h1>

    <form id="form">
      <input type="text" , placeholder="firstname" id="fname" required />
      <input type="text" , placeholder="lastname" id="lname" required /><br />
      <input type="submit" value="submit" />
    </form>

    <h1>List of Users</h1>

    <table id="list">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Delete</th>
      </tr>
    </table>
  </body>
</html>
